[user]
    email = akiomik@gmail.com
    name = "Akiomi Kamakura"
[include]
    path = .gitconfig.local
[color]
    ui = true
[color "diff"]
    meta = red bold
    frag = magenta bold
    commit = cyan
    # func = red
    # old = red reverse
    # new = green reverse
    # whitespace = white reverse
[merge]
    ff = false
    tool = vimdiff
[pull]
    rebase = true
[alias]
    br = branch
    ci = commit -a
    co = checkout
    st = status
    su = submodule update
    si = submodule init
    up = pull
    upstream = remote add upstream
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    ld-merged = !git branch --merged | grep -v \\* | grep -v master | grep -v develop | xargs -I % git branch -d %
    ignore = !gibo
[core]
    editor = vim
    pager = lv -c
    attributesfile = ~/.gitattributes
    excludesfile = ~/.gitignore_global
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[diff "scala"]
    xfuncname = "^\\s*(.*(def|object|class|trait) .*)$"
