[user]
    email = akiomik@gmail.com
    name = "Akiomi Kamakura"
[include]
    path = .gitconfig.local
[color]
    ui = auto
[merge]
    ff = false
    tool = vimdiff
[pull]
    rebase = true
[alias]
    br = branch
    ci = commit -a
    co = checkout
    st = status
    su = submodule update
    si = submodule init
    up = pull
    upstream = remote add upstream
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[core]
    editor = vim
    pager = lv -c
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
